---
import BaseLayout from "../../layouts/BaseLayout.astro";
import TagPill from "../../components/TagPill.astro";

export async function getStaticPaths() {
  const allPosts = await Astro.glob("../posts/**/*.{md,mdx}");
  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.frontmatter.tags).flat()),
  ];
  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.frontmatter.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout
  title={`${tag} posts`}
  description={`Posts tagged {tag}`}
  permalink={`/tags/{tag}`}
  current="tags"
>
  <section class="flow">
    <h1>Tag: {tag}</h1>
    <div class="card-grid">
      {
        posts.map((post) => (
          <article class="blog-card">
            <a href={post.url}>
              <div class="imageContainer">
                <img
                  src={post.frontmatter.image.url}
                  alt={post.frontmatter.image.alt}
                />
              </div>
            </a>
            <div class="tag-bar">
              <ul class="tags">
                {post.frontmatter.tags.map((tag) => (
                  <li>
                    <TagPill tagName={tag} />
                  </li>
                ))}
              </ul>
              <date class="datestamp">
                {post.frontmatter.pubDate.slice(0, 10)}
              </date>
            </div>
            <h2>
              <a href={post.url}>{post.frontmatter.title}</a>
            </h2>
            <p class="description">{post.frontmatter.description}</p>
          </article>
        ))
      }
    </div>
  </section>
</BaseLayout>
