---
import BaseLayout from "../layouts/BaseLayout.astro";
// import BlogPost from "../components/BlogPost.astro";
import BlogList from "../components/BlogList.svelte";

const posts = (await Astro.glob("./posts/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<BaseLayout
  title="Blog"
  description="Recent posts"
  permalink="/blog"
  current="blog"
  ><h1>Recent posts</h1>
  <BlogList posts={posts} />
</BaseLayout>

<!-- {
      posts.map((post) => (
        <article>
          <BlogPost
            url={post.url}
            title={post.frontmatter.title}
            pubDate={post.frontmatter.pubDate}
            image={post.frontmatter.image}
          />
        </article>
      ))
    } -->
