---
import BaseLayout from "../layouts/BaseLayout.astro";
// import { Image, Picture } from "@astrojs/image/components";
import TagPill from "../components/TagPill.astro";

const posts = (await Astro.glob("./posts/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<BaseLayout
  title="Blog"
  description="Blog index"
  permalink="/blog"
  current="blog"
  ><section class="flow">
    <h1>Blog index</h1>
    <div class="card-grid">
      {
        posts.map((post) => (
          <article class="blog-card">
            <a href={post.url}>
              <div class="imageContainer">
                <img
                  src={post.frontmatter.image.url}
                  alt={post.frontmatter.image.alt}
                />
              </div>
            </a>
            <div class="tag-bar">
              <ul class="tags">
                {post.frontmatter.tags.map((tag) => (
                  <li>
                    <TagPill tagName={tag} />
                  </li>
                ))}
              </ul>
              <date class="datestamp">
                {post.frontmatter.pubDate.slice(0, 10)}
              </date>
            </div>
            <h2>
              <a href={post.url}>{post.frontmatter.title}</a>
            </h2>
            <p class="description">{post.frontmatter.description}</p>
          </article>
        ))
      }
    </div>
  </section>
</BaseLayout>
