---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout
  title={frontmatter.title}
  description={frontmatter.description}
  permalink={frontmatter.permalink}
  current="blog"
>
  <article>
    <p>Written by: {frontmatter.author}</p>
    <p>{frontmatter.pubDate.slice(0, 10)}</p>
    <div class="grid">
      {
        frontmatter.tags.map((tag) => (
          <p class="tag">
            <a href={`/tags/${tag}`}>{tag}</a>
          </p>
        ))
      }
    </div>
  </article>

  <slot />
</BaseLayout>

<style></style>
