---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout
  title={frontmatter.title}
  description={frontmatter.description}
  permalink={frontmatter.permalink}
  current="blog"
>
  <article class="flow">
    <h1>{frontmatter.title}</h1>
    <p class="description">{frontmatter.description}</p>
    <div class="tag-bar">
      <ul class="tags">
        {
          frontmatter.tags.map((tag) => (
            <li class="tag">
              <a href={`/tags/${tag}`}>{tag}</a>
            </li>
          ))
        }
      </ul>
      <date class="datestamp">{frontmatter.pubDate.slice(0, 10)}</date>
    </div>
    <slot />
  </article>
</BaseLayout>
