---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout
  title={frontmatter.title}
  description={frontmatter.description}
  permalink={frontmatter.permalink}
  current="blog"
>
  <article>
    <h1>{frontmatter.title}</h1>
    <p>Written by: {frontmatter.author}</p>
    <p>{frontmatter.pubDate.slice(0, 10)}</p>
    <p>Tags:</p>
    <ul>
      {
        frontmatter.tags.map((tag) => (
          <li class="tag">
            <a href={`/tags/${tag}`}>{tag}</a>
          </li>
        ))
      }
    </ul>
  </article>

  <slot />
</BaseLayout>
