---
import BaseLayout from "./BaseLayout.astro";
import TagPill from "../components/TagPill.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout
  title={frontmatter.title}
  description={frontmatter.description}
  permalink={frontmatter.permalink}
  current="blog"
>
  <article class="blog-article flow">
    <h1>{frontmatter.title}</h1>
    <p class="description">{frontmatter.description}</p>
    <div class="tag-bar">
      <ul class="tags">
        {
          frontmatter.tags.map((tag) => (
            <li>
              <TagPill tagName={tag} />
            </li>
          ))
        }
      </ul>
      <date class="datestamp">{frontmatter.pubDate.slice(0, 10)}</date>
    </div>
    <slot />
  </article>
</BaseLayout>
